{% extends "base.html" %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-8">
            <h2>Tasks</h2>
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">
                        <h4>{{ task.title }}</h4>
                        <p>{{ task.description }}</p>
                        <a href="/update_task/{{ task._id }}" class="btn btn-sm btn-primary">Edit</a>
                        <form action="/delete_task/{{ task._id }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <a href="/add_task" class="btn btn-primary mt-2">Add Task</a>
        </div>
    </div>
{% endblock %}
